body{

background-color: #FFF3E9;
background-image: url(../particle1.png);
background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

.main{

padding: 50px


}
/* Create four equal columns that floats next to each other */
.column {

  float: right;
  width: 35%;margin-top: 70px;

  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  margin-left: 50px
  display: table;
  clear: both;
}

.boximg{

width: 120px;
height: 120px;


}








/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column  {
    width: 50%;

  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column  {
    width: 100%;
    float: left;
  }
}
